//Login/Register-page
.form-validation-page {
  background: url("/assets/images/background-LoginPage.jpg") no-repeat center / cover;
  height: 100vh;
  width: 100%;
  position: relative;
}
.form-validation {
  position: absolute;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: space-around;
  align-items: center;
  max-width: 100rem;
  width: 100%;
  background:transparent;
  padding: 4rem;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .cover-img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    z-index: 100;
      transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
  .login-img,
  .register-img {
    height: 100%;
  }
  .login-img {
    transform: rotateY(-180deg);
  }
    img{
      height: 100%;
      object-fit: cover;
    }
  }
  h2 {
    position: relative;
    font-size: 2.2rem;
    font-weight: 600;
    color: #333;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 28px;
      border-radius: 12px;
      background: linear-gradient(45deg, #18A5A7 , #BFFFC7);
    }
  }
  form {
    margin-top: 3rem;
  }
  &__field-box {
    height: 5rem;
    margin: 2rem 0;
    input {
      height: 100%;
      width: 100%;
      outline: none;
      padding: 0 1.5rem;
      font-size: 1.7rem;
      font-weight: 400;
      color: #333;
      border: 1.5px solid #c7bebe;
      border-bottom-width: 2.5px;
      border-radius: 6px;
      transition: all 0.3s ease;
      &:focus,
      &:valid {
        border-color: #4070f4;
      }
    }
  }
  &__button {
        cursor: pointer;
        width: 100%;
        background: linear-gradient(45deg, #18A5A7 , #BFFFC7);
        &:hover {
          background: #0e4bf1;
        }
    }
  &__policy {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-bottom: 1rem;
  }
  p {
    color: #707070;
    font-size: 1.4rem;
    font-weight: 500;
  }
  &__login {
    p {
      color: #333;
      width: 100%;
      text-align: center;
      a {
        color: darkcyan;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  @media (max-width: 768px) {
   .register-form,.Login-form {
    width: 100%;
   }
  }
}
.active{
  transform: rotateY(-180deg);
}