@use "_variable&_mixins.scss" as *;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;
  @media (max-width <= 768px) {
    font-size: 56.25%;
    *::after {
      display: none !important;
    }
  }
  @media (max-width: 320px) {
    font-size: 45%;
  }
}
img {
  max-width: 100%;
  height: auto;
}
button {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  background-color: #4f9cf9;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 3rem;
}
.container {
  margin: 0 3.2rem;
  position: relative;
  @media (1152px <= width < 1440px) {
    position: unset;
  }
  @media (768px < width <= 1152px) {
    position: relative;
    overflow: hidden;
  }
  @media (max-width <= 768px) {
    padding: 0;
    margin: 0 2rem;
  }
  @media (max-width: 320px) {
    margin: 0 1.6rem;
    overflow: hidden;
  }
}
.flex-grid-item {
  @include flexItem();
  padding: 5rem 0;
  @media (max-width: 768px) {
    @include gridItem();
    padding: 3rem 0;
  }
}
.layout {
  max-width: 50%;
  flex: 0 0 auto;
  @media (max-width: 768px) {
    max-width: 100%;
  }
}
.carousel-item {
  max-width: 30%;
  justify-content: space-between;
  flex: 0 0 auto;
  @media (max-width: 768px) {
    max-width: 100%;
  }
}
.primary__title {
  font-size: 6.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  @media (max-width<= 768px) {
    font-size: 4rem;
  }
  @media (max-width: 320px) {
    font-size: 3.6rem;
  }
}
.description {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 3rem;
}
header {
  background: url("/assets/images/Hero-section.png") no-repeat center / cover;
}
.navbar {
  @include flexItem();
  color: $color-white;
  padding: 2rem 0;
  &__brand {
    @include flexItem();
    &-name {
      font-size: 2.4rem;
      font-weight: bold;
      padding-left: 1rem;
      @media (max-width: 320px) {
        font-size: 1.2rem;
      }
    }
  }
  #click {
    display: none;
    &:checked ~ .navbar__nav .navbar__list {
      @media (max-width: 1152px) {
        top: 7rem;
      }
    }
  }
  &__actions {
    @media (max-width: 1152px) {
      display: block;
      transform: translateX(-5rem);
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__toggle {
    display: none;
    font-size: 2.4rem;
    color: white;
    background-color: transparent;
    padding: 0;
    position: absolute;
    right: 0;
    @media (max-width: 1152px) {
      display: block;
    }
    @media (max-width: 768px) {
      position: absolute;
      right: 0;
      top: 2.5rem;
    }
    @media (max-width: 320px) {
      top: 2rem;
    }
  }
  &__nav {
    @include flexItem();
    &--items {
      gap: 0.5rem;
      font-size: 1.6rem;
      font-weight: 400;
      color: white;
      text-decoration: none;
      padding: 0.5rem 1rem;
    }
  }
  &__list {
    @media (max-width: 1152px) {
      display: block;
      position: absolute;
      top: -100rem;
      left: 0;
      width: 100%;
      height: auto;
      background-color: #043873;
      z-index: 2;
      transition: all 0.3s ease-in-out;
    }
  }
  &__button {
    margin-bottom: 0;
    &--login {
      background-color: $color-accent;
      color: black;
      margin: 0 1rem;
    }
  }
}
.hero-section {
  @include flexItem();
  padding: 5rem 0;
  color: $color-white;
  @media (max-width: 768px) {
    @include gridItem();
    padding: 3rem 0;
  }
  @media (max-width: 320px) {
    padding: 1rem 0;
  }
  &__content {
    padding-right: 2rem;
  }
}
.feature {
  background: url("/assets/images/Work-management.png") no-repeat top/contain;
  &__content {
    &--top {
      @media (768px <= width < 1152px) {
        padding-right: 2rem;
      }
    }
  }
  &__highlight::after {
    content: "";
    display: block;
    max-width: 100%;
    height: 5rem;
    background: url("/assets/images/Vector.png") no-repeat;
    margin-top: -2.5rem;
  }
}
.extension {
  background-color: $color-secondary;
  color: $color-white;
  &__content {
    position: relative;
    z-index: 2;
    padding-right: 2rem;
  }
  &__highlight::after {
    content: "";
    display: block;
    max-width: 100%;
    height: 2.7rem;
    background: url("/assets/images/Vector.png") no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: -2rem;
    position: relative;
    z-index: -1;
  }
}
.customization {
  &__content {
    padding-left: 2rem;
  }
  &__highlight::after {
    content: "";
    display: block;
    max-width: 100%;
    height: 2.7rem;
    background: url("/assets/images/Vector.png") no-repeat;
    background-size: contain;
    background-position: left;
    margin-top: -2rem;
  }
}
.pricing {
  text-align: center;
  &__highlight::after {
    content: "";
    display: block;
    max-width: 100%;
    height: 2.7rem;
    background: url("/assets/images/Vector.png") no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: -2rem;
  }
  &__item {
    text-align: left;
    border-radius: 0.5rem;
    padding: 3rem;
    margin-bottom: 2rem;
    border: 1px solid #ffe492;
    width: 100%;
    transition: all 0.3s ease;
    &:hover {
      background-color: $color-secondary;
      color: $color-white;
      transform: scaleY(1.1);
      .pricing__button {
        background-color: $color-primary;
        color: $color-white;
      }
      .pricing__price,
      .fa-circle-check {
        color: $color-accent;
      }
    }
  }
  &__plan-name {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &__price {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  &__descript {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }
  &__feature {
    list-style-type: none;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
    i {
      margin-right: 0.5rem;
    }
  }
  &__button {
    color: black;
    background-color: $color-white;
    border: 1px solid #ffe492;
  }
}
.work-anywhere {
  background-color: $color-secondary;
  text-align: center;
  color: $color-white;
  &__content {
    padding: 5rem 0;
  }
  &__highlight::after {
    content: "";
    display: block;
    max-width: 100%;
    height: 2.7rem;
    background: url("/assets/images/Vector.png") no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: -2rem;
  }
}
.security {
  &__content {
    padding-right: 2rem;
  }
  &__highlight::after {
    content: "";
    display: block;
    max-width: 100%;
    height: 2.7rem;
    background: url("/assets/images/Vector.png") no-repeat;
    background-size: contain;
    background-position: bottom;
    margin-top: -2rem;
  }
}
.sponsors {
  text-align: center;
  &__highlight::after {
    content: "";
    display: block;
    max-width: 100%;
    height: 2.7rem;
    background: url("/assets/images/Vector.png") no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: -2rem;
  }
  &__item {
    list-style-type: none;
    padding: 3rem 1rem;
  }
}
.integration-hero {
  background-color: $color-secondary;
  color: $color-white;
  &__right {
    padding-left: 2rem;
    @media (max-width: 768px) {
      margin-top: 4rem;
      text-align: center;
    }
  }
}
.testimonial {
  text-align: center;
  margin: 10rem auto;
  .quote-icon--White {
    display: none;
  }
  &-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 3rem;
    text-align: left;
    border-radius: 10px;
    transition: all 0.1s ease;
    &__text {
      font-size: 1.8rem;
      font-weight: 300;
      padding-bottom: 2rem;
      border-bottom: 1px solid black;
    }
    &__author {
      display: flex;
      align-items: center;
      margin-top: 4rem;
      column-gap: 2rem;
    }
    &__name {
      font-size: 2.4rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    &__role {
      font-size: 1.6rem;
      font-weight: 400;
      color: #666;
    }
    &:hover {
      background-color: #4f9cf9;
      color: white !important;
      .quote-icon--White {
        display: block !important;
      }
      .quote-icon {
        display: none;
      }
    }
  }
}
.footer {
  background-color: $color-secondary;
  color: $color-white;
  padding: 5rem 0;
  text-align: center;
  @media (max-width: 768px) {
    text-align: left;
  }
  @media (max-width: 320px) {
    text-align: center;
  }
  &__cta {
    &-sales {
      font-size: 1.8rem;
      font-weight: 300;
      margin-bottom: 3rem;
    }
    &-icon {
      padding: 0 1rem;
    }
  }
  &__brand-name {
    font-size: 2.4rem;
    font-weight: 700;
  }
  &__list {
    text-align: left;
    align-items: flex-start;
    @media (max-width: 320px) {
      text-align: center;
      align-items: center;
    }
    &--item {
      max-width: 20%;
      flex: 0 0 auto;
      @media (max-width: 768px) {
        max-width: 100%;
        padding-left: 0;
      }
    }
    &--title {
      font-size: 2.4rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }
  }
  &__document {
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
    padding-bottom: 2rem;
    list-style-type: none;
  }
  .layout {
    column-gap: 1rem;
  }
  &__legal {
    display: flex;
    align-items: center;
    @media (max-width: 320px) {
      flex-direction: column;
      text-align: center;
    }
  }
}

//Login/Register-page
.form-validation-page {
  background: url("/assets/images/background-LoginPage.jpg") no-repeat center / cover;
  height: 100vh;
  width: 100%;
  position: relative;
}
.form-validation {
  position: absolute;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: space-around;
  align-items: center;
  max-width: 100rem;
  width: 100%;
  background:transparent;
  padding: 4rem;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .cover-img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    z-index: 100;
      transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
  .login-img,
  .register-img {
    height: 100%;
  }
  .login-img {
    transform: rotateY(-180deg);
  }
    img{
      height: 100%;
      object-fit: cover;
    }
  }
  h2 {
    position: relative;
    font-size: 2.2rem;
    font-weight: 600;
    color: #333;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 28px;
      border-radius: 12px;
      background: linear-gradient(45deg, #18A5A7 , #BFFFC7);
    }
  }
  form {
    margin-top: 3rem;
  }
  &__field-box {
    height: 5rem;
    margin: 2rem 0;
    input {
      height: 100%;
      width: 100%;
      outline: none;
      padding: 0 1.5rem;
      font-size: 1.7rem;
      font-weight: 400;
      color: #333;
      border: 1.5px solid #c7bebe;
      border-bottom-width: 2.5px;
      border-radius: 6px;
      transition: all 0.3s ease;
      &:focus,
      &:valid {
        border-color: #4070f4;
      }
    }
  }
  &__button {
        cursor: pointer;
        width: 100%;
        background: linear-gradient(45deg, #18A5A7 , #BFFFC7);
        &:hover {
          background: #0e4bf1;
        }
    }
  &__policy {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin-bottom: 1rem;
  }
  p {
    color: #707070;
    font-size: 1.4rem;
    font-weight: 500;
  }
  &__login {
    p {
      color: #333;
      width: 100%;
      text-align: center;
      a {
        color: darkcyan;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  @media (max-width: 768px) {
   .register-form,.Login-form {
    width: 100%;
   }
  }
}
.active{
  transform: rotateY(-180deg);
}