* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;
}
@media (max-width: 768px) {
  html {
    font-size: 56.25%;
  }
  html *::after {
    display: none !important;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 45%;
  }
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  background-color: #4f9cf9;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 3rem;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
  position: relative;
}
@media (1152px <= width < 1440px) {
  .container {
    position: unset;
  }
}
@media (max-width: 1152px) {
  .container {
    max-width: 90vw;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 96vw;
    padding: 0;
    margin: 0 2rem;
  }
}
@media (max-width: 320px) {
  .container {
    margin: 0 2rem;
    padding: 0;
    overflow: unset;
  }
}

header {
  background: url("/Image/Hero-section.png") no-repeat center/cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__brand {
  display: flex;
  align-items: center;
}
.navbar__brand-name {
  font-size: 2.4rem;
  font-weight: bold;
  color: white;
  padding-left: 1rem;
}
.navbar__toggle {
  display: none;
  font-size: 2.4rem;
  color: white;
  background-color: transparent;
  padding: 0;
  position: absolute;
  right: 0;
}
.navbar__nav {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.navbar__list {
  display: flex;
}
.navbar__nav--items {
  display: flex;
  gap: 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.navbar__actions {
  display: block;
}
.navbar__button {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  background-color: #4f9cf9;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.navbar__button--login {
  background-color: #ffe492 !important;
  color: black;
  margin: 0 1rem;
}
.navbar__button--cta {
  background-color: #4f9cf9;
  color: white;
}
.navbar #click {
  display: none;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 5rem 0;
}
.hero-section__content {
  flex: 0 0 auto;
  max-width: 50%;
}
@media (1152px <= width < 1440px) {
  .hero-section__content {
    flex: 0 0 auto;
    max-width: 50%;
  }
}
@media (max-width: 1152px) {
  .hero-section__content {
    flex: 0 0 auto;
    max-width: 50%;
  }
}
@media (max-width: 320px) {
  .hero-section__content {
    flex: 0 0 auto;
    max-width: 100%;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.hero-section__title {
  font-size: 6.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.hero-section__description {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

/*# sourceMappingURL=styles.css.map */
