* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;
}
@media (320px < width <= 768px) {
  html {
    font-size: 56.25%;
  }
  html *::after {
    display: none !important;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 45%;
  }
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  background-color: #4f9cf9;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 3rem;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  position: relative;
}
@media (1152px <= width < 1440px) {
  .container {
    position: unset;
  }
}
@media (768px < width <= 1152px) {
  .container {
    max-width: 905;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
}
@media (320px < width <= 768px) {
  .container {
    max-width: 96%;
    padding: 0;
    margin: 0 2rem;
  }
}
@media (max-width: 320px) {
  .container {
    overflow: hidden;
  }
}

.flex-grid-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 5rem 0;
}
@media (max-width: 768px) {
  .flex-grid-item {
    flex-direction: column;
    text-align: center;
    padding: 3rem 0;
    padding: 3rem 0;
  }
}

.layout {
  max-width: 50%;
  flex: 0 0 auto;
}
@media (max-width: 768px) {
  .layout {
    max-width: 100%;
  }
}

.carousel-item {
  max-width: 33.33%;
  flex: 0 0 auto;
}
@media (max-width: 768px) {
  .carousel-item {
    max-width: 100%;
  }
}

.primary__title {
  font-size: 6.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media (320px < width <= 768px) {
  .primary__title {
    font-size: 4rem;
  }
}
@media (max-width: 320px) {
  .primary__title {
    font-size: 3.6rem;
  }
}

.description {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

header {
  background: url("/assets/images/Hero-section.png") no-repeat center/cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  padding: 2rem 0;
}
.navbar__brand {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.navbar__brand-name {
  font-size: 2.4rem;
  font-weight: bold;
  padding-left: 1rem;
}
@media (max-width: 320px) {
  .navbar__brand-name {
    font-size: 1.2rem;
  }
}
.navbar #click {
  display: none;
}
@media (max-width: 1152px) {
  .navbar #click:checked ~ .navbar__nav .navbar__list {
    top: 7rem;
  }
}
@media (max-width: 1152px) {
  .navbar__actions {
    display: block;
    transform: translateX(-5rem);
  }
}
@media (max-width: 768px) {
  .navbar__actions {
    display: none;
  }
}
.navbar__toggle {
  display: none;
  font-size: 2.4rem;
  color: white;
  background-color: transparent;
  padding: 0;
  position: absolute;
  right: 0;
}
@media (max-width: 1152px) {
  .navbar__toggle {
    display: block;
  }
}
@media (max-width: 768px) {
  .navbar__toggle {
    position: absolute;
    right: 0;
    top: 2.5rem;
  }
}
@media (max-width: 320px) {
  .navbar__toggle {
    top: 2rem;
  }
}
.navbar__nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.navbar__nav--items {
  gap: 0.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
@media (max-width: 1152px) {
  .navbar__list {
    display: block;
    position: absolute;
    top: -100rem;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #043873;
    z-index: 2;
    transition: all 0.3s ease-in-out;
  }
}
.navbar__button {
  margin-bottom: 0;
}
.navbar__button--login {
  background-color: #ffe492;
  color: black;
  margin: 0 1rem;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 5rem 0;
  color: #ffffff;
}
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
    padding: 3rem 0;
    padding: 3rem 0;
  }
}
@media (max-width: 320px) {
  .hero-section {
    padding: 1rem 0;
  }
}
.hero-section__content {
  padding-right: 2rem;
}

.feature {
  background: url("/assets/images/Work-management.png") no-repeat top/contain;
}
.feature__content {
  padding: 0 2rem;
}
.feature__title-highlight::after {
  content: "";
  display: block;
  max-width: 100%;
  height: 5rem;
  background: url("/assets/images/Vector.png") no-repeat;
  margin-top: -2.5rem;
}

.extension {
  background-color: #043873;
  color: #ffffff;
}
.extension__content {
  position: relative;
  z-index: 2;
  padding-right: 2rem;
}
.extension__title-highlight::after {
  content: "";
  display: block;
  max-width: 100%;
  height: 2.7rem;
  background: url("/assets/images/Vector.png") no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: -2rem;
  position: relative;
  z-index: -1;
}

.customization__content {
  padding-left: 2rem;
}
.customization__highlight::after {
  content: "";
  display: block;
  max-width: 100%;
  height: 2.7rem;
  background: url("/assets/images/Vector.png") no-repeat;
  background-size: contain;
  background-position: left;
  margin-top: -2rem;
}

.pricing {
  text-align: center;
}
.pricing__title--highlight::after {
  content: "";
  display: block;
  max-width: 100%;
  height: 2.7rem;
  background: url("/assets/images/Vector.png") no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: -2rem;
}
.pricing__list {
  column-gap: clamp(1rem, 2vw, 3rem);
}
.pricing__item {
  text-align: left;
  border-radius: 0.5rem;
  padding: 3rem;
  margin-bottom: 2rem;
  border: 1px solid #ffe492;
  width: 100%;
  transition: all 0.3s ease;
}
.pricing__item:hover {
  background-color: #043873;
  color: #ffe492;
  transform: scaleY(1.1);
}
.pricing__plan-name {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.pricing__price {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.pricing__descript {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.pricing__feature {
  list-style-type: none;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.pricing__feature i {
  margin-right: 0.5rem;
}

.work-anywhere {
  background-color: #043873;
  text-align: center;
  color: #ffffff;
}
.work-anywhere__content {
  padding: 5rem 0;
}
.work-anywhere__highlight::after {
  content: "";
  display: block;
  max-width: 100%;
  height: 2.7rem;
  background: url("/assets/images/Vector.png") no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: -2rem;
}

.security__highlight::after {
  content: "";
  display: block;
  max-width: 100%;
  height: 2.7rem;
  background: url("/assets/images/Vector.png") no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: -2rem;
}
.security__content {
  padding-right: 2rem;
}

.sponsors {
  text-align: center;
}
.sponsors__highlight::after {
  content: "";
  display: block;
  max-width: 100%;
  height: 2.7rem;
  background: url("/assets/images/Vector.png") no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: -2rem;
}
.sponsors__item {
  list-style-type: none;
  padding: 3rem 1rem;
}

.integration-hero {
  background-color: #043873;
  color: #ffffff;
}
.integration-hero__right {
  padding-left: 2rem;
}
@media (max-width: 768px) {
  .integration-hero__right {
    margin-top: 4rem;
    text-align: center;
  }
}

.testimonial {
  text-align: center;
  margin: 10rem auto;
}
.testimonial__list {
  column-gap: clamp(1rem, 2vw, 3rem);
}
.testimonial-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  text-align: left;
  border-radius: 1rem;
  transition: all 0.1s ease-in-out;
}
.testimonial-card__author {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}
.testimonial-card__name {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.testimonial-card__text {
  font-size: 1.8rem;
  font-weight: 300;
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
}
.testimonial-card__role {
  font-size: 1.6rem;
  font-weight: 400;
  color: #666;
}
.testimonial-card:hover {
  background-color: #4f9cf9;
  color: white !important;
}
.testimonial-card:hover .QuoteIconWhite {
  display: block !important;
}
.testimonial-card:hover .QuoteIcon {
  display: none;
}

.footer {
  background-color: #043873;
  color: #ffffff;
  padding: 5rem 0;
  text-align: center;
}
.footer__cta-sales {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 3rem;
}
.footer__brand-name {
  font-size: 2.4rem;
  font-weight: 700;
  transform: translateY(-2rem);
  margin-bottom: 0;
  padding-bottom: 0 !important;
}
.footer__list {
  text-align: left;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .footer__list {
    text-align: center;
    align-items: center;
  }
}
.footer__list--item {
  max-width: 20%;
  flex: 0 0 auto;
  padding: 2rem;
}
@media (max-width: 768px) {
  .footer__list--item {
    max-width: 100%;
  }
}
.footer__title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.footer__link, .footer__Document, .footer__social-link {
  color: white;
  font-size: 1.8rem;
  font-weight: 400;
  padding-bottom: 2rem;
  list-style-type: none;
  padding-right: 2rem;
}
.footer__legal {
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
